---
import { Icon } from "astro-icon";
---

<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
	<meta name="title" content="Netlify OG Generator (Lance)">
	<meta name="description" content="Generate Open Graph images on Edge for your websites.">
    <title>Netlify OG Generator</title>
  </head>
  <body class="bg-zinc-900 text-white text-xl">
    <main class="m-auto max-w-3xl p-6">
      <section class="grid place-items-center text-center mt-20">
		<Icon name="vscode-icons:file-type-netlify" class="w-48 h-48" />
		<h1 class="text-4xl my-7 font-semibold">Netlify OG Generator</h1>
		<p>Generate Open Graph images on Edge for your websites.</p>
	  </section>
	  <section class="grid place-items-center text-center mt-5">
		<p class="max-w-xl">This site is only used for generating Open Graph images on my <a href="https://lanceross.xyz" target="_blank" class="text-sky-400">website</a>. If you are using this service, please DO NOT use this and deploy your own one. You can find the source code of this project on <a href="https://github.com/lancerossdev/og-edge-netlify" target="_blank" class="text-sky-400">GitHub</a> and the <a href="https://github.com/ascorbic/og-edge" target="_blank" class="text-sky-400">original</a>.</p>
	  </section>
    </main>
  </body>
</html>
